:root {
    --black: #222;
    --white-smoke: #ebefef;
    --steel-blue: #0b79fb;
    --steel-blue-2: #2683ab;
    --deep-sky-blue: #2e9dcc;
    --sweat-purple: #c191e7;
    --green-yellow: #ccff7d;
    --dark-cyan: #2e8e83;

    --nagivioleta: #4b59ed;
    --nagiobispo: #b18cfe;
    --nagimagenta: #af14af;
    --nagirosa: #fac8f8;

}

.main-div {
    height: calc(100vh - 220px);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0.25turn, #111111, #26152e, #430e53, #382142, #0f0f0f);
    transition: background-color 0.5s ease;
}

.container {
    background-color: var(--nagiobispo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    min-width: 400px;
    max-width: 500px;
    min-height: 400px;
    border: 2px solid #ccc;
    border-radius: 8px;
    padding: 24px;
}

.container .logo {
    display: block;
    margin: 0 auto;
    width: 50%;
}

.container .main-img {
    display: block;
    width: 100%;
    border-radius: 20px;
}

.container button {
    padding: 10px 20px;
    background-color: var(--nagivioleta);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.container button:hover {
    background-color: var(--nagimagenta);
}

.container button a {
    all: unset;
}


.gif-background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    transition: opacity 0.5s ease;
    background: url('https://i.gifer.com/J8up.webp') no-repeat center center;
    background-size: cover;
    z-index: 1;
    pointer-events: none;
}

.image {
    border-radius: 20px;
    width: 100%;
    height: 100%;
    transition: clip-path 0.5s ease;
    /* Smooth transition */
    clip-path: inset(0 0 0 0);
    /* Initial state with full image */
}

@keyframes shake {
    0% {
        transform: translate(0);
    }

    25% {
        transform: translate(-5px, 0);
    }

    50% {
        transform: translate(5px, 0);
    }

    75% {
        transform: translate(-5px, 0);
    }

    100% {
        transform: translate(0);
    }
}