/* Slideshow container */
.slideshow-container {
    max-width: 95%;
    position: relative;
    margin: 0 auto 2vw;
}

.mySlides {
    display: none;

    img {
        width: 100%;
        height: auto;
        border-radius: 60px;
    }
}


.dot {
    height: 8px;
    aspect-ratio: 1/1;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #4b59ed;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slideshow-container .dot-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}


/* Courses */

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--white);
}

.grid-auto-fill {
    --grid-min-col-size: 300px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;

    padding: 2rem;
}


.course-container {
    container-type: inline-size;
}

.course-card {
    background: #f3f3f3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    height: 350px;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out, box-shadow 0.3s;
}

.course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow on hover */
}

.course-card img {
    max-width: 100%; /* Ensure images take up the full width of the card */
    height: auto; /* Maintain aspect ratio */
    border-radius: 4px;
    margin-bottom: 0;
}

.course-card p {
    margin: 0.5rem 0;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--black); /* Use color from main.css */
}

.course-card h3 {
    font-weight: bold;
    font-size: 1.25rem;
    color: var(--lilac-soft); /* Accent color */
}

.course-card p:last-of-type {
    color: var(--blue); /* Accent color */
    font-weight: bold;
}


@container (max-width: 400px) {
    .course-card {
        padding: 0.5rem;
    }

    .course-card img {
        max-width: 100%;
    }

    .course-card p {
        font-size: 0.875rem;
    }
}
