/* Slideshow container */
.slideshow-container {
    max-width: 95%;
    position: relative;
    margin: 0 auto 2vw;
}

.mySlides {
    display: none;

    img {
        width: 100%;
        height: auto;
        border-radius: 60px;
    }
}


.dot {
    height: 8px;
    aspect-ratio: 1/1;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #4b59ed;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.slideshow-container .dot-container {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}


/* Courses */

h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--white);
}

.grid-auto-fill {
    --grid-min-col-size: 300px;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(var(--grid-min-col-size), 100%), 1fr));
    gap: 1rem;

    padding: 2rem;
}


.course-container {
    container-type: inline-size;
}


.course-card {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 380px;
    padding: 12px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-out, box-shadow 0.3s ease-in-out;
    overflow: hidden;
}

.course-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.course-image {
    width: 100%;
    height: 180px; /* Altura fija para mantener uniformidad */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.course-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Evita zoom excesivo */
    border-radius: 4px;
}

.course-card:hover .course-image img {
    transform: scale(1.05);
}

.course-info {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    text-align: center;
    min-height: 120px; /* Ajusta según necesidades */
    padding-block: 2rem;
}

.course-info h3 {
    font-weight: bold;
    font-size: 1.3rem;
    color: var(--lilac-soft);
}

.course-level {
    font-size: 1rem;
    color: var(--black);
    text-transform: capitalize;
}

.course-price {
    font-size: 1.1rem;
    font-weight: bold;
    color: var(--blue);
}

/* Responsive */
@media (max-width: 400px) {
    .course-card {
        padding: 0.75rem;
    }

    .course-info h3 {
        font-size: 1.1rem;
    }

    .course-info .level, 
    .course-info .price {
        font-size: 0.9rem;
    }
}