.wrapper {
    display: grid;
    min-height: 100dvh;
    grid-template-areas:
        "nav nav nav"
        "aside main main"
        "aside main main";
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto 1fr 1fr;
}

.nav-container {
    grid-area: nav;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 1rem;
    height: 80px;
    background-color: var(--pastel-pink);
    color: white;
    position: relative;
    z-index: 999;
}

.logo_container {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo_container img {
    height: 50px;
    margin-right: 10px;
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 3;
}

.nav_links a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.nav_links a:hover {
    background-color: #555;
}

.nav_links a.active {
    background-color: #555;
}

.nav_links.show {
    display: flex !important;
    flex-direction: column;
    gap: 10px;
    background-color: var(--pastel-pink); /* Add background color */
    padding: 1rem; /* Add padding for better spacing */
    border-radius: 5px; /* Optional: Add rounded corners */
    width: 100%;
}

.botonera {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 1rem;
}

.botonera a {
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.botonera a:hover {
    background-color: #555;
}

.botonera.show {
    display: flex !important;
    flex-direction: row;
    gap: 10px;
    background-color: var(--pastel-pink); /* Add background color */
    padding: 1rem; /* Add padding for better spacing */
    border-radius: 5px; /* Optional: Add rounded corners */
    width: 100%;
}

.profile_pic {
    aspect-ratio: 1/1;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile_pic img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.botonera button {
    background-color: #555;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.botonera button:hover {
    background-color: #777;
}

.nav-hamburger {
    display: none;
}

header {
    grid-area: nav;
    text-align: center;
    padding: 2rem 1rem;
    color: var(--white);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin-bottom: 1rem;
}

header h1 {
    line-height: 100%;
    font-size: 2.5rem;
    font-weight: bold;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header p {
    font-size: 1.25rem;
    margin-top: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
}

aside {
    grid-area: aside;
    background-color: var(--white);
    color: var(--black);
    padding: 1rem;
    border-right: 1px solid var(--light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

aside ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

aside li {
    margin: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
    cursor: pointer;
}

aside li:hover {
    background-color: var(--light-gray);
}

.arrow {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5rem;
    vertical-align: middle;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--soft-purple);
    transition: border-left-color 0.3s;
}

.arrow:hover {
    border-left-color: var(--peach);
}

aside li.active .arrow {
    transform: rotate(90deg);
}

section {
    display: none;
    grid-area: main;
    background-color: transparent;
    color: var(--black);
    padding: 1rem;
}

.grid-auto-fill {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 1rem;
}

.course-container {
    display: block;
}

.course-card {
    background-color: var(--white);
    padding: 1.5rem;
    text-align: left;
    transition: transform 0.3s, box-shadow 0.3s;
    min-height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 5px solid transparent;
    border-image: linear-gradient(135deg, var(--soft-purple), var(--peach)) 1;
}

.course-card img {
    max-width: 250px;
    border-radius: 4px;
    margin-bottom: 0;
}

.course-card p {
    margin: 0.5rem 0;
    font-size: 1rem;
    text-transform: capitalize;
    color: var(--black);
}

.course-card h3 {
    font-weight: bold;
    font-size: 1.25rem;
}

.course-card p:last-of-type {
    color: var(--soft-purple);
    font-weight: bold;
}

.course-card:hover {
    animation: gradient-border 3s infinite;
}

a:visited {
    color: inherit;
    text-decoration: none;
}

@media (max-width: 1024px) {
    header h1 {
        font-size: 2rem;
    }

    .course-card {
        min-height: auto;
    }
}

@media (max-width: 768px) {
    header h1 {
        font-size: 1.5rem;
    }

    nav {
        flex-direction: column;
    }

    .logo_container {
        margin-bottom: 20px;
    }

    .nav_links {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .botonera {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .nav-hamburger {
        display: block;
        position: absolute;
        right: 1rem;
        top: 4rem;
    }
}

@media (max-width: 400px) {
    .course-card {
        padding: 0.5rem;
        height: auto;
        justify-content: flex-start;
    }

    .course-card img {
        max-width: 100%;
    }

    .course-card p {
        font-size: 0.875rem;
    }
}